<div class="modalWrapper" *ngIf="(openStatus | async)">

    <div class="modalContent" >

        <div class="header">
            <i class="fa fa-user fa-3x" aria-hidden="true"></i>
            
            
        </div>
        
        <div class="content">
           <form [formGroup]='formGroup' (ngSubmit)="onSubmit()">
            
           
            <div>         
                <app-input formControlName='name'  [labelContent]="'Name :'"></app-input>
            </div>
           
            <div>         
                <app-input formControlName='surname'  [labelContent]="'Surname :'"></app-input>
            </div>
            

            <div>         
                <app-input formControlName='email' [warningMessage] = "'Email invalid !'" [labelContent]="'Email :'"></app-input>
            </div>
            

            <div>         
                <app-input formControlName='password' [warningMessage] = "'Password must contain atleast 6 character'" [labelContent]="'Password :'"></app-input>
            </div>
            
            <div>         
                <app-input formControlName='passwordMatch' [warningMessage] = "'Passwords doesnt match'" [labelContent]="'Password match :'"></app-input>
            </div>

            

            <div style="margin-top: 3%;">
                <label for="age" style="margin-right: 3%;">Age:</label>
                <app-dropdown formControlName="age" [dataArray]="ageArray"></app-dropdown>     
            </div>

            <div class="invalid-data"
            *ngIf="formGroup.controls['age'].invalid && (formGroup.controls['age'].dirty || formGroup.controls['age'].touched)">
            Must be older than 18
            </div>


            

   
            <div class="buttons">
                
                <button class="btn btn-primary" type="submit" [disabled]="!formGroup.valid">Submit</button>
                <button class="btn btn-danger" (click)="onCloseClick()" >Cancel</button>
            </div>
            

            

        

           </form>
        
        </div>


    </div>
    

</div>
