.modalWrapper{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #000000d6;
}

.modalContent
{
    background: white;
    width: 40%;
    height: 50vh;
    border: solid red;
    margin: 0 auto;
    margin-top: 10vh;
}
