<ng-template #modalContent>

    <h1 style="color: blue;">Modal content from navbar </h1>

</ng-template>

<div class="navbar">
    <button [routerLink]="['/route1']">
        Route1
    </button >
    <button [routerLink]="['/route2']">
        Route2
    </button>
    <button [routerLink]="['/route3']">
        Route3
    </button>

    <button (click)="openModal()" style="color: red;">
        OpenModal
    </button>


</div>
<div class="header">
Header
</div>
<div class="routComponent">
  <router-outlet
  >
</router-outlet>
</div>

<div class="staticComponent">
Static Content
</div>
<div class="footer">
Footer
</div>

<app-modal-window></app-modal-window>