<div class="gridWrapper">


    <div class="gridElement" id="big">1Lorem, ipsum dolor sit ametaasdadsasdas
        <br>
        asdkjaldsj
        <br>
        <br>
        <br>
        <br>
    </div>
    

    
    <div class="gridElement">2Lorem, ipsum dolor</div>
    <div class="gridElement">3Lorem, ipsum dolor</div>
    <div class="gridElement">4Lorem, ipsum dolor</div>
    <div class="gridElement">5Lorem, ipsum dolor</div>
    <div class="gridElement">6Lorem, ipsum dolor</div>
    <div class="gridElement">7Lorem, ipsum dolor</div>
    <div class="gridElement">8Lorem, ipsum dolor</div>
    <div class="gridElement">9Lorem, ipsum dolor</div>
    <div class="gridElement">10Lorem, ipsum dolor</div>
    <div class="gridElement">Lorem, ipsum dolor</div>
    <div class="gridElement">Lorem, ipsum dolor</div>
    <div class="gridElement">Lorem, ipsum dolor</div>
    <div class="gridElement">Lorem, ipsum dolor</div>
    <div class="gridElement">Lorem, ipsum dolor</div>
    <div class="gridElement">Lorem, ipsum dolor</div>
    <div class="gridElement">Lorem, </div>
    <div class="gridElement">Lorem, </div>
    <div class="gridElement">Lorem, </div>
    <div class="gridElement">Lorem, </div>
    

</div>
