<div class="gridBody">
    <div class="gridElement streched">
        Lorem ipsum dolor sit amet.
    </div>
    <div class="gridElement">
        Lorem ipsum dolor sit amet.
    </div>
    <div class="gridElement">
        Lorem ipsum dolor sit amet.
    </div>
    <div class="gridElement">
        Lorem ipsum dolor sit amet.
    </div>
    <div id="asd" class="gridElement streched">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos, quasi.
    </div>
    <div class="gridElement">
        Lorem ipsum dolor sit amet.
    </div>
    <div class="gridElement">
        Lorem ipsum dolor sit amet.
    </div>
    <div class="gridElement">
        Lorem ipsum dolor sit amet.
    </div>
    <div id="asd" class="gridElement streched">
        Lorem ipsum dolor sit amet.
    </div>
</div>
